RewriteEngine On
#ErrorDocument 404 /noPage.php
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Maquillando las url
RewriteRule ^respuesta-pago$ respuesta.php
RewriteRule ^confirmacion-pago$ confirmacion.php